* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-container {
  height: 100px;
  width: auto;
  display: flex;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: #fcdcd2;
  border: 2px solid #1e2054;
  border-radius: 10px;
  align-items: center;
}

.header-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.header-name h2 {
  font-weight: 800;
  color: #1e2054;
  margin-bottom: 0;
}

.notif-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-left: auto;
}

.notif-icon {
  width: 42px;
  height: 42px;
  object-fit: contain;
  cursor: pointer;
}

.top-header-container {
  margin-top: 10px;
  background-color: #1e2054;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-icon {
  color: #fcf5ee;
  font-size: 30px;
  cursor: pointer;
}

.header {
  font-weight: 700;
  color: #fcf5ee;
  margin: 0;
  font-size: 30px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 8px 35px 8px 12px;
  border-radius: 8px;
  border: 2px solid #fcf5ee;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 250px;
  font-weight: 700;
  color: #fcf5ee;
  background-color: #1e2054;
}

.search-box ::placeholder {
  color: #fcf5ee;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fcf5ee;
  font-size: 16px;
  pointer-events: none;
}

.deleteBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #ff4444;
  color: #fcf5ee;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deleteBtn:hover {
  background-color: #cc0000;
}

.deleteBtn p {
  margin: 0;
}

.delete-icon {
  font-size: 14px;
}

.reminder-header {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.reminder-header p {
  font-weight: 700;
  font-size: 16px;
  color: #1e2054;
  margin: 0;
}

.deletedNotes-container {
  padding-top: 10px;
  width: 100%;
  height: calc(100vh - 250px);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.deletedNotes-container::-webkit-scrollbar {
  width: 10px;
}

.deletedNotes-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}

.deletedNotes-container::-webkit-scrollbar-thumb {
  background-color: #1e2054;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
}

.deletedNotes-container::-webkit-scrollbar-thumb:hover {
  background-color: #353874;
}

.deleted-card {
  width: 295px;
  height: 230px;
  background-color: #fffbf6;
  border-radius: 10px;
  border: 2px solid #1e2054;
  padding: 16px;
  transition: transform 0.2s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.deleted-card:hover {
  transform: translateY(-5px);
}

.deleted-card-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pin-icon {
  color: #1e2054;
  font-size: 24px;
}

.delete-icon2 {
  color: #c63739;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.delete-icon2:hover {
  transform: scale(1.15);
  color: #991d29;
}

.deleted-card-body .deleted-title {
  font-size: 24px;
  font-weight: 800;
  color: #1e2054;
  margin: 8px 0 10px;
}

.deleted-card-body .deleted-content {
  font-size: 13px;
  color: #1e2054;
  font-weight: 400;
}

.deleted-card-footer {
  display: flex;
  justify-content: flex-end;
}

.lock-icon {
  color: #1e2054;
  font-size: 18px;
}
