* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-container {
  height: 100px;
  width: auto;
  display: flex;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: #fcdcd2;
  border: 2px solid #1e2054;
  border-radius: 10px;
  align-items: center;
}

.header-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.header-name h2 {
  font-weight: 800;
  color: #1e2054;
  margin-bottom: 0;
}

.notif-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-left: auto;
}

.notif-icon {
  width: 42px;
  height: 42px;
  object-fit: contain;
  cursor: pointer;
}

.top-header-container {
  margin-top: 10px;
  background-color: #1e2054;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.left-side {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header {
  font-weight: 700;
  color: #fcf5ee;
  margin: 0;
  font-size: 30px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 8px 35px 8px 12px;
  border-radius: 8px;
  border: 2px solid #fcf5ee;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 250px;
  font-weight: 700;
  color: #fcf5ee;
  background-color: #1e2054;
}

.search-box ::placeholder {
  color: #fcf5ee;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fcf5ee;
  font-size: 16px;
  pointer-events: none;
}

.addFolderBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #fcdcd2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addFolderBtn:hover {
  background-color: #ffb9a4;
}

.addFolderBtn p {
  margin: 0;
  font-weight: 800;
  font-size: 14px;
  color: #1e2054;
}

.addFolderBtn {
  font-size: 14px;
}

.folders-container {
  padding-top: 10px;
  width: 100%;
  height: calc(100vh - 230px);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  overflow-y: auto;
}

.folder-item {
  background-color: #fffbf6;
  border: 2px solid #1e2054;
  border-radius: 10px;
  width: 230px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 0;
}

.folder-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.479);
}

.folder-icon {
  font-size: 50px;
  color: #1e2054;
  margin-bottom: 10px;
}

.folder-name {
  font-weight: 700;
  color: #1e2054;
  text-align: center;
}

.lock-icon {
  font-size: 15px;

  position: absolute;
  top: 10px;
  right: 10px;
  color: #1e2054;
}
