* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-container {
  height: 100px;
  width: auto;
  display: flex;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: #fcdcd2;
  border: 2px solid #1e2054;
  border-radius: 10px;
  align-items: center;
}

.header-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.header-name h2 {
  font-weight: 800;
  color: #1e2054;
  margin-bottom: 0;
}

.notif-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-left: auto;
}

.notif-icon {
  width: 42px;
  height: 42px;
  object-fit: contain;
  cursor: pointer;
}

.top-header-container {
  margin-top: 10px;
  background-color: #1e2054;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-icon {
  color: #fcf5ee;
  font-size: 30px;
  cursor: pointer;
}

.lock-icon {
  color: #fcf5ee;
  font-size: 20px;
}

.header {
  font-weight: 700;
  color: #fcf5ee;
  margin: 0;
  font-size: 30px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 8px 35px 8px 12px;
  border-radius: 8px;
  border: 2px solid #fcf5ee;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  width: 250px;
  font-weight: 700;
  color: #fcf5ee;
  background-color: #1e2054;
}

.search-box ::placeholder {
  color: #fcf5ee;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fcf5ee;
  font-size: 16px;
  pointer-events: none;
}

.addNoteBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #fcdcd2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addNoteBtn:hover {
  background-color: #ffb9a4;
}

.addNoteBtn p {
  margin: 0;
  font-weight: 800;
  font-size: 14px;
  color: #1e2054;
}

.addNoteBtn {
  font-size: 14px;
}

.dots-icon {
  color: #fcf5ee;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dots-icon:hover {
  transform: scale(1.1);
}

.notes-container {
  padding-top: 10px;
  width: 100%;
  height: calc(100vh - 220px);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  overflow-y: auto;
}

.notes-container::-webkit-scrollbar {
  width: 10px;
}

.notes-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}

.notes-container::-webkit-scrollbar-thumb {
  background-color: #1e2054;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
}

.notes-container::-webkit-scrollbar-thumb:hover {
  background-color: #353874;
}

.note-item {
  background-color: #fffbf6;
  border: 2px solid #1e2054;
  border-left: 8px solid #28a745;
  border-radius: 10px;
  padding: 15px;
  width: 330px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.note-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.479);
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.pin-icon {
  color: #1e2054;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pin-icon:hover {
  transform: scale(1.15);
}

.delete-icon {
  color: #ff4444;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.delete-icon:hover {
  transform: scale(1.15);
  color: #991d29;
}

.note-body {
  margin-bottom: 15px;
}

.note-title {
  font-size: 26px;
  font-weight: 800;
  color: #1e2054;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note-content {
  color: #1e2054;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lock-icon {
  font-size: 18px;
  color: #1e2054;
}

.note-date {
  font-size: 12px;
  color: #696a7a;
  font-weight: 700;
}
